<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta name=author content="Khonzoda Umarova & Annabel Rothschild">
        <title></title>
    </head>
    <body>
 
 
    {% block header %}   
    <nav class="navbar navbar-fixed-top navbar-bootsnipp bg-light">
            <form class="form-inline" id="search" method=POST action= {{url_for('search')}}>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchterm">
                <br>
                <select name='search-option' class="form-control">
                    <option value='source'>by source</option>
                    <option value='article'>by article</option>
                </select>
                <br>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            
            <div>
                <a class="navbar-brand text-dark" href="{{url_for('home')}}">CredBase</a>
            </div>
    
            <form class="form-inline" id="logout" action= {{url_for('logout')}} method="post">
                <div>
                    <h4 class='col-sm col-form-label'> {{ login_session }} </h4>
                </div>
                <button class="btn btn-primary" id="logout" type="submit" name="submit" value="logout">logout</button>
            </form>
    </nav>
    
        

    {% endblock  %}
    
    <div class='container-fluid'>
    {% block title %}
    <h1 class="title">{{ page_title }}</h1>
    {% endblock  %}
    
    
    {% block flashes%}
    <div id="flashes">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    {% endblock  %}
    
    
    {% block main %} 
    {% endblock  %}
    
    </div>
    </body>
    </html>