{% extends "base.html" %}

{% block title %}
<h1 class="title text-center">{{ page_title }}</h1>
{% endblock  %}

{% block main %}
<br>
    <div class="container-fluid">
    <div class="row mb-2">
    <div class='col center-block'>
        <form id="loginform" action={{url_for('login')}} method="post">
            <h3>Login to CredBase</h3>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Username</label>
                <div class="col-md-8">
                    <input type="text" name="username" required pattern="^\w+$" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label">Password</label>
                <div class="col-md-8">
                    <input type="password" name="password" required class="form-control">
                </div>
            </div>
            <p><button class="btn btn-primary" type="submit">Submit</button></p>
        </form>
    </div>
    
    <div class='col center-block'>
        <p class='lead text-center'>or alternatively</p>
    </div>
    
    <div class='col center-block'>
        <form id="joinform" action={{url_for('join')}} method="post">
                <h3>Join CredBase</h3>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Name</label>
                    <div class="col-md-8">
                      <input type="text" name="name" required class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Username</label>
                    <div class="col-md-8">
                      <input type="text" name="username" required pattern="^\w+$" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Password</label>
                    <div class="col-md-8">
                      <input type="password" name="password1" required class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Password again</label>
                    <div class="col-md-8">
                      <input type="password" name="password2" required class="form-control">
                    </div>
                </div>
                
                <p><button class="btn btn-primary" type="submit">Submit</button></p>
                
                
        </form>
    </div>
    </div>
    </div>
    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>
    /*global $*/
    $("#joinform").on('submit', function (event) {
         var pw1 = $(this).find('[name=password1]').val();
         var pw2 = $(this).find('[name=password2]').val();
         // should also check for length and common words etc
         if( pw1 != pw2 ) {
             // something more sophisticated than alert would be nice
             alert("passwords don't match");
         }
    });
    </script>

{% endblock %}
 