{% extends "base.html" %}
{% block main %}

<br>
<div class="container-fluid">
    <div class='row'>
    <div class="col-md-10">
    <h3>About the news source:</h3>
    <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Date established:
            <span class="badge badge-primary badge-pill">{{newsSource.doe}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Type:
            <span class="badge badge-primary badge-pill">{{newsSource.mediatype}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Publisher:
            <span class="badge badge-primary badge-pill">{{newsSource.publisher}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Location:
            <span class="badge badge-primary badge-pill">{{newsSource.location}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Editor:
            <span class="badge badge-primary badge-pill">{{newsSource.editor}}</span>
          </li>
        </ul>
    </div>
    </div>
    <br>
    <div class="col-md-2 float-right">
        <div class="form-group row btn-block">
            <form method="post" action="{{newsSource.url}}">
                <button class="update-source btn btn-success btn-block">Go to {{newsSource.name}}</button>
            </form>
        </div>
        <div class="form-group row btn-block">
            <form method="post" action="{{url_for('updateSource', nsid=newsSource.nsid)}}">
                <button class="update-source btn btn-secondary btn-block">Update</button>
            </form>
        </div>
        <div class="form-group row btn-block">
            {% if newsSource.onWatchlist %}
            <input id="watch-source" class="btn btn-secondary btn-block" type="button" value="Watch" disabled>
            {% else %}
            <input id="watch-source" class="btn btn-secondary btn-block" type="button" value="Watch">
            {% endif %}
        </div>
    </div>
    </div>
</div>    

    <br>

    <h3>The news source writes about:</h3>
    <table class="table" id="stories">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Associated query</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
            <!-- Fills out the table --> 
            {% for story in stories %}
                <tr scope="row" data-id={{story.sid}}>
                    <td class="title"><a href="{{story.url}}">{{story.title}}</td>
                    <td class="query">{{story.originQuery}}</td>
                    <td class="date">{{story.resultDate}}</td>
                </tr>
            {% endfor %}
           
        </table>

    <h3>The news source is similar to:</h3>
    <article id="similar">
        <ul>
            {% for source in search_results %}
            <li><a href="{{source.url}}">{{ source.name }}</a></li>
            {% endfor %}
        </ul>
    </article>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    /* global $ */
    $("#watch-source").on("click", 
    function(event) {
        var nsid = "{{newsSource.nsid}}";
        var username = "{{ login_session.get('username', ' ') }}";
        if (username == ' ') {
            $('#flashes').html("<p>You need to be logged in for this feature</p>");
            return;
        }
        var url = "{{ url_for('watchSource') }}";
        console.log("user "+username+" added "+nsid+" to their watchlist");
        // $(this).val("Unwatch")
        $(this).prop('disabled', true);
        $.post(url, {'nsid':nsid})
    }
    );
</script>
{% endblock %}

