{% extends "base.html" %}
{% block main %}
<br>
<!--
<form id="title-search" method=POST action= {{url_for('searchArticles')}}>
                <input id="query-term" placeholder="Search" name="query-term">
                <button id="search-query" type="submit" name="submit" value="Search">Search</button>
                </form>
-->

<article id="query-results">
    <table class="table" id="article-results">
        <thead>
            <tr>
                <th scope="col">Article Title</th>
                <th scope="col">Source</th>
                <th scope="col">Origin Query</th>
                <th scope="col">Result Date</th>
                <th scope="col">Update this Result</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr scope="row" data-sid={{article.sid}}>
                <td scope="row" class="sid" style="display:none">{{article.sid}}</td>
                <td scope="row"><a href="{{article.url}}">{{article.title}}</a></td>
                <td scope="row"><a href="{{url_for('newsSource', nsid=article.nsid)}}">{{ article.name }}</a></td>
                <td scope="row">{{article.originQuery}}</td>
                <td scope="row">{{article.resultDate}}</td>
                <form method="post" action="{{url_for('updateArticle', sid=article.sid)}}">
                <td scope="row"><button class="update-article btn btn-secondary">Update</button></td>
                <form></form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<script>
//UPDATE WORKS WITHOUT THIS CODE
$("#article-results").on("click", ".update-article", function(event){
    var articleRow = $(this).closest("tr");
    var sid_id = articleRow.find(".sid").text();
    var fake = "{{url_for('updateArticle', sid=10)}}";
    var real = fake.replace(/10/, sid_id);
    $.get(real);
});
    /*global $*/
</script>


{% endblock %}