{% extends "base.html" %}
{% block main %}
<br>

<p>Update Article 
<form method="post" action="" enctype="multipart/form-data">
    <p><label for="title">Title: <input type="text" name="title">{{articleInfo.title}}</label></p>
    <p><label for="oq">Origin Query: <input type="text" name="oq">{{articleInfo.originQuery}}</label></p>
    <p><label for="date">Result Date: <input type="text" name="date">{{articleInfo.resultDate}}</label></p>
    <p><label for="url">URL: <input type="text" name="url">{{articleInfo.url}}</label></p>
    <p><label for="delete">Delete Article<input id="deletebutton" type="submit" name="submitDelete" value="delete" data-sid="{{articleInfo.sid}}"></label></p>
    <p><label for="update">Update Article<input id="updatebutton" type="submit" name="submitUpdate" value="update" data-sid="{{articleInfo.sid}}"></label></p>

</form>

<script>
    /*global $*/
    
</script>

{% endblock %}