{% extends "base.html" %}
{% block main %}
<br>

<!--<p>Update Article -->
<form method="post" action="" enctype="multipart/form-data" class='container-fluid'>
    <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label">Title</label>
        <div class="col-md-4">
            <input type="text" name="title" placeholder="{{articleInfo.title}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="oq" class="col-md-2 col-form-label">Origin Query</label>
        <div class="col-md-4">
            <input type="text" name="oq" placeholder="{{articleInfo.originQuery}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="date" class="col-md-2 col-form-label">Result Date</label>
        <div class="col-md-4">
            <input type="text" name="date" placeholder="{{articleInfo.resultDate}}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-md-2 col-form-label">URL</label>
        <div class="col-md-4">
            <input type="text" name="url" placeholder="{{articleInfo.url}}" class="form-control">
        </div>
    </div>
    
    <div class="form-group row col-md-6">
        <div class="col-md-2">
            <input id="deletebutton" class="btn btn-primary" type="submit" name="submitDelete" value="delete" data-sid="{{articleInfo.sid}}">
        </div>
        <div class="col-md-2">
            <input id="updatebutton" class="btn btn-primary" type="submit" name="submitUpdate" value="update" data-sid="{{articleInfo.sid}}">
        </div>
    </div>
               
    
</form>

<script>
    /*global $*/
    
</script>

{% endblock %}