{% extends "base.html" %}
{% block main %}
<br>

<p>Upload a new JSON file of search results here:
<form method="post" action="" enctype="multipart/form-data">
    <p><label for="nm">Your CRED ID#: <input type="text" required name="nm"></label></p>
    <p><label for="pic">File: <input type="file" required name="file"></label></p>
    <p><label for="date">Enter date in form YYYY-MM-DD: <input type="text" required name="date"></label></p>
    <p><label for="query">Origin query: <input type="text" required name="query"></label></p>
    <p><input type="submit" value="upload"></p>
</form>

{% if nm != '' and src != '' %}
<p>Last upload: {{nm}}</p>
{% endif %}

{% endblock %}