{% extends "base.html" %}

{% block main %}
    <div>
        <p>Here are the news sources on your watchlist</p>
        
        <table id="watchlist">
            
            <tr>
                <th>Name</th>
                <th>Watching since</th>
            </tr>
            
            <!-- Fills out movie table --> 
            {% for item in sources %}
                <tr data-id={{item.nsid}}>
                <td class="name">{{item.name}}</td>
                <td class="date">{{item.addDate}}</td>
                <td><button class="unwatch">Stop watching</button></td>
            </tr>
            {% endfor %}
           
        </table>
        
    </div>
    
    
{% endblock %}