{% extends "base.html" %}

{% block main %}
    <div>
        <p>Here are the news sources on your watchlist</p>
        
        <table class="table" id="watchlist">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Watching since</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <!-- Fills out movie table --> 
            {% for item in sources %}
                <tr scope="row" data-id={{item.nsid}}>
                <td scope="row" class="name">{{item.name}}</td>
                <td scope="row" class="date">{{item.addDate}}</td>
                <td scope="row"><button class="unwatch">Stop watching</button></td>
            </tr>
            {% endfor %}
           
        </table>
        
    </div>
    
    
{% endblock %}