{% extends "base.html" %}

{% block main %}
    <div>
        
        <p><a href="{{url_for('file_upload')}}">Click here</a> to upload a new JSON file of search results.</p>
        <p><a href="{{url_for('addSource')}}">Click here</a> to add a new news source.</p>
        <h3>Here are the news sources on your watchlist</h3>
        
        <table class="table" id="watchlist">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Watching since</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            {% for item in sources %}
            <tr scope="row" data-id={{item.nsid}}>
                <td scope="row" class="name"><a href="{{url_for('newsSource', nsid=item.nsid)}}">{{ item.name }}</a></td>
                <td scope="row" class="date">{{item.addDate}}</td>
                <!--<td scope="row"><button class="unwatch btn btn-secondary">Stop watching</button></td>-->
                <td scope="row"> <input id="unwatch-source" class="btn btn-secondary" type="button" value="Stop watching"> </td>
            </tr>
            {% endfor %}
           
        </table>
        
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    /* global $ */
    $("#watchlist").on("click", "#unwatch-source", 
    function(event) {
        var nsid = $(this).closest("tr").attr('data-id');
        var username = "{{ login_session.get('username', ' ') }}";
        var url = "{{ url_for('unwatchSource') }}";
        console.log("user "+username+" removed "+nsid+" from their watchlist");
        $(this).prop('disabled', true);
        $.post(url, {'nsid':nsid});
    }
    );
</script>
   
    
{% endblock %}